
$headingColor : #00945f;
$buttonbackColor: #e97300;
$whiteText: #ffffff;
$GrayText: #888888;
$copyRightLink: #5c5959;

/* For Phone Size Media Changes Max size of phone is ihpone6/7/8 414px */
$information-phone: "only screen and (max-width : 768px)";
