/* Copy Right Text */
.copyright{
    font-size: 1em;
    color: $GrayText;
    padding: 1em;
}

/* Copy Right Links */
.copyrightLink{
    color: $copyRightLink;
}

/* Footer */
footer{
    margin-top: 3em;
    border-top: $headingColor solid .1em;
}

/* Social */
.social{
padding:1em;
}

/* Scocial Links */
.social-link{
text-decoration:none;
}


@media #{$information-phone} {

    .footer{
       height:40em;
    }
}