/* H1 Heading Text */
body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:$headingColor;
    font-size: 2em;
    text-align: center;
    padding-bottom: .5em;
    background: url('../images/line.jpg') center bottom no-repeat;
}

/* H2 Heading Text  */
h2{
    color: $headingColor;
}

/* Banner Image */
.banner{
    overflow-x:hidden;
}

/* Logo */
.logo{
    padding: 1.4em;
}

/* Container Wrapper */
.container{
    margin:0 auto; 
    width:95%; /*  use your width here */
}

/* Make Image Responsive */
.responsive {
    width: 100%;
    height: auto;
}
