.textSection , .textSection2{
    color: $GrayText;
    font-size: 1.2em;
}
.buttonCareers{
    background: $buttonbackColor;
    color: $whiteText;
    height: 3em;
    width: 10em;
    font-size: 1em;
    border: none;
}



