/*

Title: TMP Coding Challagne
Developer: Yash Kinariwala
Creation Date: 11/25/2019
type: SASS

Note: Media Query setup for mobile device with rotation and without rotaion 


*/
@import "colors-variable";
@import "heading_images";
@import "section1-intro";
@import "_section2-advantage";
@import "_section3-homeloan";
@import "_section4-author";
@import "footer";
